h1 {
    text-align: center;
    text-decoration: underline;
}


.mid {
    text-align: center;
}

.playButton {
    padding-top: 1rem;
    
}

.newGame {
    padding-top: .2rem;
}

.results {
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    
}

.resu {
    border-radius: .4rem;
    background-color:hsl(0, 0%, 95%);
    width: 25%;
    margin: 1%;
}

label {
    font-size: 70px;
    cursor: pointer;
}

label:hover {
    opacity: 1;
    filter: brightness(50%);
}

input[type="radio"]{
    display: none;
}