html,
header {
  font-size: 2em;
  text-align: center;
}
body {
  margin: 0;
}
main {
  display: flex;
  justify-content: right;
}

main .split {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}
nav {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  background: rgb(121, 9, 92);
  background: linear-gradient(
    90deg,
    rgba(121, 9, 92, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  line-height: 2rem;
}

span.title {
  line-height: 2rem;
  font-size: 2em;
  text-decoration: underline;
  color: white;
  /* background-color:#f7c5c5; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 92, 1) 100%
  );
}

span.textright {
  display: flex;
}
