html,
header {
  font-size: 2em;
  text-align: center;
}
main {
  display: flex;
  justify-content: right;
}

main .split {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 2em;
}

span.title {
  font-size: 2em;
}
