html,
header {
  font-size: 2em;
  text-align: center;
}
main {
  display: flex;
  justify-content: right;
}

main .split {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

nav a {
  background-color: #f7c5c5;
  text-decoration: none;
  color: white;
  font-size: 2em;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
}

span.title {
  line-height: 2rem;
  font-size: 2em;
  text-decoration: underline;
  color: white;
  background-color:#f7c5c5;
}

span.textright {
  display: flex;
  
}
