html,
body {
  margin: 0;
}

body * {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
}

.resize {
    width: 70px;
    height: 60px;
}

form {
    height: 10%;
    /* margin: 0 1rem; */
    padding: 0 .5rem;
}

header .title {
    color: white;
    display: flex;
    font-size: 2rem;
    text-decoration: underline;
    padding: 1rem;
    font-weight: bold;
}

.wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    line-height: 2rem;
    color: white;
    font-weight: 300;
    font-style: italic;
}

nav a:hover {
    color: hsl(0, 0%, 70%);
}

main {
    display: flex;
    flex-direction: column;
}

img {
    background-color: black;
}